<mat-toolbar color="primary">
  <span>Todo App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<todo-body ></todo-body>
<!-- // After compiling
<template  [ngIf]="data">
  <todo-body _ngcontent-qel-c48="" _nghost-qel-c47="">
    <mat-card _ngcontent-qel-c47="" class="mat-card mat-focus-indicator todo-card">
       This is a card </mat-card></todo-body>
</template> -->

